# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: Gradle@2
    inputs:
      gradleWrapperFile: 'gradlew'
      tasks: 'build'
  - task: Docker@2
    displayName: Login to ACR
    inputs:
      command: login
      containerRegistry: mkacrConnection
  - task: Docker@2
    displayName: Build and Push
    inputs:
      command: buildAndPush
      repository: persons
      tags: |
        2.0
  - task: HelmInstaller@0
    displayName: 'Install Helm'
    inputs:
      helmVersion: 2.13.0